.btn{
    &__showPassword{
        
        left: 8rem;
        position: relative;
        top: 3rem;
        right: 1rem;
        background-color: rgba(0,0,0,0);
        border: 0;
        border-radius: 2px;
       // -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #0073b1;
        cursor: pointer;
        //display: inline-block;
        /* font-size: 1.4rem; */
        font-weight: 600;
        font-family: inherit;
        //height: 24px;
       // line-height: 24px;
        //overflow: hidden;
        //outline-width: 2px;
        
       // outline: 0;
    }
    &__primary{
        &--large{
            width: 21rem;
            background-color: #0073b1;
            border: 0;
            border-radius: 2px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            // font-size: 1.6rem;
            font-weight: 700;
            font-family: inherit;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            outline-width: 2px;
            padding: 0 24px;
            position: relative;
            text-align: center;
            text-decoration: none;
            -webkit-transition-duration: 167ms;
            transition-duration: 167ms;
            -webkit-transition-property: background-color,color,-webkit-box-shadow;
            transition-property: background-color,color,-webkit-box-shadow;
            transition-property: background-color,box-shadow,color;
            transition-property: background-color,box-shadow,color,-webkit-box-shadow;
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            vertical-align: middle;
            z-index: 0;
            
        }
    }
    &__tertiary{
        &--medium{
            background-color:rgba(0,0,0,0);
            border: 0;
            border-radius: 2px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color:
            #0073b1;
            cursor: pointer;
            display: inline-block;
            
            font-weight: 600;
            font-family: inherit;
            height: 32px;
            line-height: 32px;
            overflow: hidden;
            outline-width: 2px;
            padding: 0 8px;
            position: relative;
            text-align: center;
            text-decoration: none;
            -webkit-transition-duration: 167ms;
            transition-duration: 167ms;
            -webkit-transition-property: background-color,color,-webkit-box-shadow;
            transition-property: background-color,color,-webkit-box-shadow;
            transition-property: background-color,box-shadow,color;
            transition-property: background-color,box-shadow,color,-webkit-box-shadow;
            -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            vertical-align: middle;
            z-index: 0;

        }
    }
}
@media screen and (max-width: 500px) {
    .btn__primary--large{
        width: 26rem;
      }
}