li-icon[type="linkedin-logo"][size="21dp"] {
    width: 84px;
    height: 21px;
    display: inline-block;
    overflow: hidden;
    position: relative;

}
li-icon[type="linkedin-logo-small"] {
    width: 58px;
    height: 1rem;
    display: inline-block;
    overflow: hidden;
    position: relative;

}